{% extends 'presupuesto/base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <label for="categoryInput">Categoria de Presupuesto (Presione Enter para agregar cada categoria)</label>
    <input type="text" name="categoryInput" id="categoryInput">
    <input type="hidden" name="categoriesString">

    <ul id="categoriesContainer">

    </ul>

    <button type="submit" class="btn">Start Project</button>

  </form>
</div>

<script src="{% static 'js/scripts.js' %}"></script>

{% endblock %}