{% extends 'presupuesto/base.html' %}
{% load static %}
{% block content %}

<div class="container">

    <h1>Mis Proyectos</h1>
    <hr>
  
    <div class="row">
      {% for proyecto in listar_proyecto %}
      <div class="col s12 md6 xl3">
        <div class="card-panel">
          <h5>{{ proyecto.nombre }}</h5>
          <a href="{% url 'detalle' proyecto.slug %}" class="btn">Ver</a>
        </div>
      </div>
      {% empty %}
      <div class="noproject-wrapper center">
        <h3 class="grey-text">No existen proyectos registrados.</h3>
        <a href="{% url 'crear' %}" class="btn-large grey">
          <i class="material-icons white-text left">add_circle</i>
          <span class="bold">Add Projects</span>
        </a>
      </div>
      
      
      {% endfor %}
    </div>

    <div class="center">
      <a href="{% url 'crear' %}" class="btn-large btn">
        <i class="material-icons white-text left">add_circle</i>
        <span class="bold">Nuevo Proyecto</span>
      </a>
    </div>
  
  
  </div>

{% endblock content %}